# EDA：欄位的資料類型介紹及處理 - 作業程式碼

本次作業需要完成兩個部分：
- Part1. 請按照下方程式碼提示，建立出 Series 與 DataFrame
- Part2. 請上「政府資料開放平臺」，找到感興趣的資料集（限定檔案格式要 CSV 檔或是 Excel 檔），並匯入至 Python，進一步使用 .loc、.iloc 挑選出特定的資料

政府資料開放平臺：https://data.gov.tw/

In [2]:
import pandas as pd

## Part1. 請按照下方程式碼提示，建立出 Series 與 DataFrame

In [3]:
a_list = [53, 12, 50, 39, 28, 59]

""" 請使用 a_list 建立 Series """
a_list_series = pd.Series(a_list)
a_list_series

0    53
1    12
2    50
3    39
4    28
5    59
dtype: int64

In [4]:
a_2D_list = [[14, 23, 36],
             [41, 51, 64],
             [77, 83, 93]]
column_name_list = ["Column_A", "Column_B", "Column_C"]
index_list = ["Andy", "Tom", "Amy"]

""" 請使用 a_2D_list 建立 DataFrame，並分別使用 index_list、column_name_list 定義 Index 與 Column Name"""
a_2D_list_df = pd.DataFrame(a_2D_list, columns=column_name_list, index=index_list)
a_2D_list_df

      Column_A  Column_B  Column_C
Andy        14        23        36
Tom         41        51        64
Amy         77        83        93

## Part2. 請上「政府資料開放平臺」，找到感興趣的資料集（限定檔案格式要 CSV 檔或是 Excel 檔），並匯入至 Python，進一步使用 .loc、.iloc 挑選出特定的資料

In [5]:
""" 請匯入 CSV 檔案或是 Excel 檔案 """
url = "https://www.twse.com.tw/exchangeReport/STOCK_DAY_AVG_ALL?response=open_data"

data = pd.read_csv(url)
head =  data.head() if data is not None else data
head

   股票代號      股票名稱     收盤價    月平均價
0  0050    元大台灣50  142.35  136.94
1  0051   元大中型100   74.95   74.31
2  0052      富邦科技  143.45  136.85
3  0053      元大電子   77.55   74.42
4  0055  元大MSCI金融   23.57   23.57

In [6]:
""" 請使用 .loc 挑選出三組感興趣的資料，並詳細說明對哪三組資料感興趣"""
# 價差最高的三組資料
data['價差'] = data['收盤價'] - data['月平均價']
data.loc[data['收盤價'] > data['月平均價']].sort_values(by='價差', ascending=False).head(3)

       股票代號   股票名稱     收盤價     月平均價      價差
22017  3661  世芯-KY  4430.0  4120.00  310.00
22285  6805    富世達   746.0   666.25   79.75
22257  6669     緯穎  2345.0  2272.50   72.50

In [7]:
""" 請使用 .iloc 挑選出三組感興趣的資料，並詳細說明對哪三組資料感興趣"""
# 月平均價最高的三組資料
data.sort_values(by='月平均價', ascending=False).iloc[0:3]

       股票代號   股票名稱     收盤價    月平均價     價差
22017  3661  世芯-KY  4430.0  4120.0  310.0
21902  3008    大立光  2405.0  2390.0   15.0
22257  6669     緯穎  2345.0  2272.5   72.5